.main-container{
	margin: 24px;
}

.password{
	border: none;
	background-color: #222222;
    color: white;
}

.password: focus{
	outline: none;
}

.personal-info{
	display: flex;
}

.personal-info p{
	margin: 0;
	margin-right: 12px;
	margin-bottom: 6px;
}

.title{
	text-transform: uppercase; 
}

.info{
	background-color: #222222;
	padding-left: 8px;
}

.account-reviews{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}

.tileImg {
  width: 180px;
  height: 220px;
}

.column{
	display: flex;
	flex-direction: column;
	margin: 6px;
	padding: 12px;
}

.column p{
	font-size: 14px;
}

.editReview{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.editReviewBtn a{
  margin-left: 4px;
  font-size: 1.2rem;
  color: #0A7D91;
}

.deleteReviewBtn a{
  margin-left: 4px;
  font-size: 1.2rem;
  color: #0A7D91;
}

.reviews{
	background-color: #222222;
	padding: 12px;
}

.fa-star:before {
    color: #0A7D91;
    font-size: 32px;
}

.rating-alignment{
	display: flex;
	justify-content: center;
}

.review-delete{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

.delete-button-row{
	display: flex;
	flex-direction: row;
	align-items: center !important; 
}

.deleteBtn{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	border: none;
	padding: 8px 36px;
	background-color: #0A7D91 ;
	color: #fff;
	border-radius: 5px;
	margin: 0 10px;
}






















