section {
  margin: 16px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.tile {
  width: 19%;
  transition: all .2s ease-in-out;
}

.tile:hover {
  transform: scale(1.1);
}

.row:hover .tile {
  opacity: 0.2;
}
.row .tile:hover {
  opacity: 1;
}

.tileImg {
  width: 180px;
  height: 220px;
}

.cookie-container{
	margin: 14px;
}

.tou-container{
	margin: 14px;	
}

@media only screen and (max-width: 840px) {
	.row {
  		-webkit-overflow-scrolling: touch;
  	}
}
}