.background{
	background-color:#141414;
}

body{
	font-size: 12px;
	font-family: 'Quicksand', sans-serif;
}
h1{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1rem;
}
h2, h3, h4 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
}
li{
	list-style: none;
	font-size: 1rem;
}

.button{
	text-decoration: none;
	font-color:white;
	font-family: 'Roboto Condensed', sans-serif;
}

.signup{
	font-color: white;
	text-align: center;
	padding: 10px 24px;
	border-radius: 8px; 
	transition-duration: 0.4s;
	width: 70px;
	display: inline-flex;
	background-color: #0A7D91; 
	text-decoration: none;

}
.signup:link {
	text-decoration: none;
	background-color: #0A7D91; 
	color: white;
	padding: 10px 24px;
	text-align: center;
	display: flex;

}
.signup:hover { 
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	text-decoration: none;
	font-size: 120%;
	background-color: #0A7D91; 


}

.login{
	background-color: #0A7D91;
	font-color: white;
	text-align: center;
	padding: 10px 24px;
	border-radius: 8px; 
	transition-duration: 0.4s;
	width: 70px;
	display: inline-flex;
	text-decoration: none;

}
.login:link{
	text-decoration: none;
}
.login:hover{
	background-color: #0A7D91; 
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	text-decoration: none;
	font-size: 120%;
}
