.row {
  display: flex;
}

.tile {
  width: 19%;
  transition: all .2s ease-in-out;
}

.tile:hover {
  transform: scale(1.1);
}

.row:hover .tile {
  opacity: 0.2;
}
.row .tile:hover {
  opacity: 1;
}

.tileImg {
  width: 140px;
  height: 180px;
}

.banners{
	border-top: 2px solid #222222;
	border-bottom: 2px solid #222222;
	display: flex;
    justify-content: center;
    padding: 24px

}

img{
	
}
.landing-button{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	border: none;
	padding: 8px 36px;
	background-color: #0A7D91 ;
	color: #fff;
	border-radius: 5px;
	margin: 0 10px;
	width: fit-content;
    align-self: center;
}

.landing-button-subtle{
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	border: 2px solid #222222;
	padding: 8px 36px;
	color: #fff;
	background-color: #141414;
	border-radius: 5px;
	margin: 0 10px;
	width: fit-content;
    align-self: center;
}